body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1,h2,h3 h4, h5 {
    font-family: 'Montserrat-Black', sans-serif;
}


.big-title {
  font-size: 4rem;
  line-height: 1.5;
  font-weight: 900;
}

.container-fluid {
  padding: 7% 15%;
}

/* module repead part of background colour and font colour */
.coloured-section {
  background-color: #FF5D5D;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Title section  */

#title {
    background-color: #ff4c68;
    color: #fff;
    text-align: left;
}

/* hierachical selector class container-fluid is included in id title  */
#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar  */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
}


/* title image */
/* file:///D:/web%20projects/Stacking+Order+Flowchart+v2.1.pdf */
.iphonepic {
  transform: rotate(20deg);
  width: 50%;
  /* 在html flow中top than feature section, 即使没有z-index因为position的属性是一个absolute 一个relative,所以the one below and relative will be on top. */
  z-index: 0;
  position: absolute;
  right: 15%;
}

/* change position when screenzise is less than 978px */
@media screen and (max-width: 978px) {
  #title {
    text-align: center;
  }
  .iphonepic{
    position: static;
    transform: rotate(0);
  }
}

/* features */
#features {
  position: relative;
  z-index: 1;
}

feature-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.features-box {
  padding: 5%;
}

.icon {
  margin-bottom: 1rem;
  color: #FF5D5D;
}

.icon:hover {
  color: #FFC3C3;
}

/*Testimonials section*/


.testimonials-title {
  font-size: 3rem;
  font-weight: bold;
}

.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin:20px;
}

#press {
    padding-bottom: 3%;
}

.press-png {
    width:10%;
    margin: 10px 20px 50px;
}

/*Pricing section*/


.pricing-title {
  font-size: 3rem;
  font-weight: bold;
}

.card-deck {
    padding-top: 5%;
}

card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Call to action  */
#cta {
  color: #fff;
}



/* Footer */


.footer-icon {
  margin: 15px 10px;
}
